<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<style>
  body {
    overflow-x: hidden ! important;
    background-image: url('/static/bg_tech.jpeg');
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    background-size: contain;
    /* background-repeat: no-repeat; */
    background-position: center center;
  }
  </style>
<body>
    <div class="row justify-content-center mt-5">
      <!-- <img src="../bot.png" alt=""> -->
      <div class="col-6 align-self-center">
        <h1 class="text-primary mb-5">
          DataBot
          <img src="/static/bot.png" alt="" width="80px" height="80px">
        </h1>

        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }} col-lg-12">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        <form method="post" enctype="multipart/form-data" action='{{ url_for("upload_file") }}'>
          <h2>Upload dataset</h2>
          <div class="input-group" style="width:full">
            <input type="file" class="form-control" name="file" aria-label="Upload">
            <button class="btn btn-outline-secondary" type="submit" >Submit</button>
          </div>
        </form>

         <form method="post" action="{{ url_for('query') }}" class="form-inline" style="margin-top:30px">
          <div class="row" >
            <h2>Enter Query</h2>
            <div class="form-group col-9">
              <input type="text" class="form-control" name="query" placeholder="E.g. Sort dataframe by Salary">
            </div>
            <div class="form-group col-3">
              <button type="submit" class="btn btn-primary" style="float: right;" id="press" onclick="load()">Show data</button>
              <button class="btn btn-primary" type="button" disabled id="loader" style="float: right;">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Loading...
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <script>
      document.getElementById("loader").style.display="none"
      function load() {
        document.getElementById("press").style.display="none"
        document.getElementById("loader").style.display="block"
      }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>    
</body>
</html>